[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cfTools"]
	path = cfTools
	url = https://github.com/jasminezhoulab/cftools
	shallow = true
	registered = true
